@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body { font-family: 'Inter', sans-serif; background-color: #f9fbfd; }
.card-hover { transition: all 0.2s ease-in-out; }
.card-hover:hover { transform: translateY(-3px); box-shadow: 0 10px 20px rgba(0,0,0,0.05) !important; }
.cursor-pointer { cursor: pointer; }
.no-arrow::after { display: none !important; }